<form id="search-form" action="/search">
    <input type="text" id="keyword" size="15" value="<%= typeof keyword != 'undefined' ? keyword : '' %>"
           placeholder="Search Phrase" name="keyword">
    <button>search</button>
    <br/>
</form>
