<!DOCTYPE html>
<html lang="es">
<head>
    <% include partials/head %>
    <%- include('partials/background', {imgUrl: imgUrl}) %>

    <title>Image Search App</title>
</head>
<body>
<main>
    <h1>Cool Images.</h1>
    <% include partials/search_form %>

</main>
<% include partials/footer %>
</body>
</html>